In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3
import math
import sqlalchemy

In [27]:

path = 'sqlite:////Users/pascal/Coding/uni/Masterarbeit/testpanda.sqlite'
con = sqlalchemy.create_engine(path, echo=True)

In [28]:
cows = pd.read_sql_table("Cow", con)

2017-01-14 01:12:13,242 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-01-14 01:12:13,244 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:12:13,246 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-01-14 01:12:13,247 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:12:13,250 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2017-01-14 01:12:13,251 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:12:13,255 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='view' ORDER BY name
2017-01-14 01:12:13,255 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:12:13,258 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Cow")
2017-01-14 01:12:13,259 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:12:13,261 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Cow")
2017-01-14 01:12:13,262 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:12:13,263 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Cow' AND type = 'table'
2017-01-14 01:12:13,264 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:12:13,268 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Farms")
2017-01-14 01:12:13,269 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:12:13,270 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Farms")
2017-01-14 01:12:13,271 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:12:13,273 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Farms' AND type = 'table'
2017-01-14 01:12:13,274 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:12:13,275 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Farms")
2017-01-14 01:12:13,276 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:12:13,277 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Farms")
2017-01-14 01:12:13,277 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:12:13,278 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Farms' AND type = 'table'
2017-01-14 01:12:13,279 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:12:13,282 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Cow")
2017-01-14 01:12:13,282 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:12:13,284 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Cow")
2017-01-14 01:12:13,285 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:12:13,286 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_Cow_1")
2017-01-14 01:12:13,287 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:12:13,288 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Cow' AND type = 'table'
2017-01-14 01:12:13,288 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:12:13,292 INFO sqlalchemy.engine.base.Engine SELECT "Cow".id, "Cow".time_of_birth, "Cow".mother_id, "Cow".birth_farm_id, "Cow".birth_health_status_id, "Cow".sex
FROM "Cow"
2017-01-14 01:12:13,293 INFO sqlalchemy.engine.base.Engine ()

In [29]:
cows.head()

Empty DataFrame
Columns: [id, time_of_birth, mother_id, birth_farm_id, birth_health_status_id, sex]
Index: []

In [42]:
cows.tail(3)

Empty DataFrame
Columns: [id, time_of_birth, mother_id, birth_farm_id, birth_health_status_id, sex]
Index: []

In [43]:
events = pd.read_sql_table("Event", con)

2017-01-14 01:23:22,802 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2017-01-14 01:23:22,803 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,805 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='view' ORDER BY name
2017-01-14 01:23:22,806 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,807 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Event")
2017-01-14 01:23:22,808 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,809 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Event")
2017-01-14 01:23:22,810 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,811 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Event' AND type = 'table'
2017-01-14 01:23:22,812 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,814 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Farms")
2017-01-14 01:23:22,815 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,816 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Farms")
2017-01-14 01:23:22,817 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,818 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Farms' AND type = 'table'
2017-01-14 01:23:22,818 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,819 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Farms")
2017-01-14 01:23:22,820 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,821 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Farms")
2017-01-14 01:23:22,822 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,823 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Farms' AND type = 'table'
2017-01-14 01:23:22,823 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,825 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("EventTypes")
2017-01-14 01:23:22,826 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,828 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("EventTypes")
2017-01-14 01:23:22,829 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,830 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EventTypes' AND type = 'table'
2017-01-14 01:23:22,831 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,832 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("EventTypes")
2017-01-14 01:23:22,833 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,834 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("EventTypes")
2017-01-14 01:23:22,835 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,836 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_EventTypes_1")
2017-01-14 01:23:22,837 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,838 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EventTypes' AND type = 'table'
2017-01-14 01:23:22,839 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,841 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Event")
2017-01-14 01:23:22,842 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,843 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Event")
2017-01-14 01:23:22,844 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,846 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Event' AND type = 'table'
2017-01-14 01:23:22,847 INFO sqlalchemy.engine.base.Engine ()
2017-01-14 01:23:22,849 INFO sqlalchemy.engine.base.Engine SELECT "Event".id, "Event".type_id, "Event".exec_time, "Event".farm_id, "Event".herd
FROM "Event"
2017-01-14 01:23:22,850 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
events.tail(4)

In [46]:
events.farm_id

0         -1
1         -1
2         -1
3         -1
4         -1
5         -1
6         -1
7         -1
8         -1
9         -1
10        -1
11        -1
12        -1
13        -1
14        -1
15        -1
16        -1
17        -1
18        -1
19        -1
20        -1
21        -1
22        -1
23        -1
24        -1
25        -1
26        -1
27        -1
28        -1
29        -1
          ..
5858789   -1
5858790   -1
5858791   -1
5858792   -1
5858793   -1
5858794   -1
5858795   -1
5858796   -1
5858797   -1
5858798   -1
5858799   -1
5858800   -1
5858801   -1
5858802   -1
5858803   -1
5858804   -1
5858805   -1
5858806   -1
5858807   -1
5858808   -1
5858809   -1
5858810   -1
5858811   -1
5858812   -1
5858813   -1
5858814   -1
5858815   -1
5858816   -1
5858817   -1
5858818   -1
Name: farm_id, dtype: int64

In [55]:
farmevents = events.where(events.farm_id != -1 )

In [62]:
farmevents.where(farmevents.farm_id != np.nan)

          id  type_id  exec_time  farm_id herd
0        NaN      NaN        NaN      NaN  NaN
1        NaN      NaN        NaN      NaN  NaN
2        NaN      NaN        NaN      NaN  NaN
3        NaN      NaN        NaN      NaN  NaN
4        NaN      NaN        NaN      NaN  NaN
5        NaN      NaN        NaN      NaN  NaN
6        NaN      NaN        NaN      NaN  NaN
7        NaN      NaN        NaN      NaN  NaN
8        NaN      NaN        NaN      NaN  NaN
9        NaN      NaN        NaN      NaN  NaN
10       NaN      NaN        NaN      NaN  NaN
11       NaN      NaN        NaN      NaN  NaN
12       NaN      NaN        NaN      NaN  NaN
13       NaN      NaN        NaN      NaN  NaN
14       NaN      NaN        NaN      NaN  NaN
15       NaN      NaN        NaN      NaN  NaN
16       NaN      NaN        NaN      NaN  NaN
17       NaN      NaN        NaN      NaN  NaN
18       NaN      NaN        NaN      NaN  NaN
19       NaN      NaN        NaN      NaN  NaN
20       NaN      NaN        NaN      NaN  NaN
21       NaN      NaN        NaN      NaN  NaN
22       NaN      NaN        NaN      NaN  NaN
23       NaN      NaN        NaN      NaN  NaN
24       NaN      NaN        NaN      NaN  NaN
25       NaN      NaN        NaN      NaN  NaN
26       NaN      NaN        NaN      NaN  NaN
27       NaN      NaN        NaN      NaN  NaN
28       NaN      NaN        NaN      NaN  NaN
29       NaN      NaN        NaN      NaN  NaN
...      ...      ...        ...      ...  ...
5858789  NaN      NaN        NaN      NaN  NaN
5858790  NaN      NaN        NaN      NaN  NaN
5858791  NaN      NaN        NaN      NaN  NaN
5858792  NaN      NaN        NaN      NaN  NaN
5858793  NaN      NaN        NaN      NaN  NaN
5858794  NaN      NaN        NaN      NaN  NaN
5858795  NaN      NaN        NaN      NaN  NaN
5858796  NaN      NaN        NaN      NaN  NaN
5858797  NaN      NaN        NaN      NaN  NaN
5858798  NaN      NaN        NaN      NaN  NaN
5858799  NaN      NaN        NaN      NaN  NaN
5858800  NaN      NaN        NaN      NaN  NaN
5858801  NaN      NaN        NaN      NaN  NaN
5858802  NaN      NaN        NaN      NaN  NaN
5858803  NaN      NaN        NaN      NaN  NaN
5858804  NaN      NaN        NaN      NaN  NaN
5858805  NaN      NaN        NaN      NaN  NaN
5858806  NaN      NaN        NaN      NaN  NaN
5858807  NaN      NaN        NaN      NaN  NaN
5858808  NaN      NaN        NaN      NaN  NaN
5858809  NaN      NaN        NaN      NaN  NaN
5858810  NaN      NaN        NaN      NaN  NaN
5858811  NaN      NaN        NaN      NaN  NaN
5858812  NaN      NaN        NaN      NaN  NaN
5858813  NaN      NaN        NaN      NaN  NaN
5858814  NaN      NaN        NaN      NaN  NaN
5858815  NaN      NaN        NaN      NaN  NaN
5858816  NaN      NaN        NaN      NaN  NaN
5858817  NaN      NaN        NaN      NaN  NaN
5858818  NaN      NaN        NaN      NaN  NaN

[5858819 rows x 5 columns]